.título {
    font-family: 'Mohave', sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 64px;
    margin: 10px;
}
.caixa {
    padding: 50px;
    max-width: 960px;
    height: auto;
    margin: auto;
    border-radius: 30px;
    background-color: cornsilk;
}

.imagem_receita {
    height: 251px ;
    width: 100%;
    object-fit:cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
.legenda_imagem{
    text-align: center;

}

.lista, .paragrafo{
    font-family: 'Mohave', sans-serif;
    font-weight: 300;
    font-style: italic;
}
.secoes {
    font-family: "Helvetica";
    text-transform: uppercase;
    text-align: left ;
}

.corpo {
    background-color: rgb(178, 204, 236);
}
.rodape{
    text-align: center;
}
