h1 {
    font-family: 'Mohave', sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.caixa {
    padding: 50px;
    max-width: 960px;
    height: auto;
    margin: auto;
    border-radius: 30px;
    background-color: cornsilk;
}

img {
    height: 251px ;
    width: 100%;
    object-fit:cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
figcaption {
    text-align: center;

}

ol, ul, p{
    font-family: 'Mohave', sans-serif;
    font-weight: 300;
    font-style: italic;
}
h2 {
    font-family: "Helvetica";
    text-transform: uppercase;
    text-align: center;

}

p{
   text-align: center; 
}

body {
    background-color: rgb(178, 204, 236);
}
footer{
    text-align: center;
}
